@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat;
:root{
    --primary-color: #3D4457;
    --secondary-color1: #FFD700;
    --secondary-black: black;
    --last-color: #1F263A;
}
/* Global style */
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    color: white;
}
body{
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
@keyframes scroll {
    100%{
    background-position:0px -3000px;
    }
}

@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 200s linear infinite;
    }
}
html{
    font-family: 'Roboto Mono', sans-serif;
}
p{
    font-size: 1.5rem;
    color: white;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}
.section-heading{
    font-size: clamp(2rem, 10vw, 5rem);
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
}
.section-heading::before{
    content: attr(data-outline);
    position: absolute;
    left: 1%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--secondary-color1);
    z-index: -1;
}

/* Nav style */
#nav{
    font-family: 'Montserrat';
    position: sticky;
    top: 0px;
}
#nav .nav-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#nav .nav-section .nav-left{
    padding-right: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    color: white;
}
#nav .nav-section .nav-right{
    padding-left: 100px;
}
#nav .nav-section .nav-right ul{
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
}
#nav .nav-section .nav-right ul li{
    padding: 20px;
}
#nav .nav-section .nav-right ul li a{
    color: white;
    padding: 15px;
    border-radius: 10px;
}
#nav .nav-section .nav-right ul li a:hover{
    background-color: var(--secondary-black);
}
#nav .nav-section .nav-left{
    background-color: white;
    padding: 0 50px;
}

/* Home style */
#home{
    width: 100%;
    height: 100vh;
}
#home .container{
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#home .top img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    object-fit: cover;
}
#home .bottom h1{
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 0.5rem;
}
#home .bottom h3{
    font-weight: 300;
    font-size: 2rem;
}
#home .icon{
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
}
#home .icon a{
    padding: 20px;
}

/* About style */
#about{
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100vh;
}
#about .container .section-heading{
    margin-bottom: 5px;
}
#about .container .all-items{
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#about .container .all-items{
    font-family: 'Montserrat' sans-serif;
}
#about .container .item-head .name{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#about .container .heading{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#about .container .address{
    font-size: 1.5rem;
}
#about .container .all-items .item-body img{
    max-width: 50px;
    max-height: 50px;
}

/* Skills style */
#skills{
    padding: 3rem 0;
}
#skills .all-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}
#skills .all-items .item{
    padding: 3.2rem;
}
#skills .number{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
#skills .all-items .item:nth-child(1){
    background-color: rgba(255, 238, 0, 0.322);
}
#skills .all-items .item:nth-child(2){
    background-color: rgba(0, 255, 115,  0.329);
}
#skills .all-items .item:nth-child(3){
    background-color: #4705fc50;
}
#skills .all-items .second:nth-child(1){
    background-color: rgba(0, 115, 255, 0.322);
}
#skills .all-items .second:nth-child(2){
    background-color: #6F000350;
}

/* project style */
#projects{
    padding: 3rem 0;
}
#projects .container .section-heading{
    margin-bottom: 30px;
}
#projects .item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}
#projects .item .right{
    flex: 1;
    margin-left: -150px;
    background-color: var(--body-bg);
    padding: 5rem 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 20px var(--secondary-color1);
    z-index: 2;
}
#projects .item .left .img {
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px var(--secondary-color1);
    position: relative;
}
#projects .item .left .img::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 238, 0, 0.322);
}
#projects .item .left .img img{
    transition: 0.3s ease transform;
}
#projects .item:hover .left .img img{
    transform: scale(1.1);
    z-index: 1;
}
#projects .item .right .project-title{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
#projects .item .right .project-desc{
    color: var(--secondary-gray);
    width: 350px;
}
.buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.buttons svg{
    width: 50px;
    color: var(--primary-color);
}.primary-btn{
    display: inline-block;
    background-color: var(--secondary-black);
    color: white;
    font-size: 1.8rem;
    padding: 0.5em 1.0em;
    border-radius: 50px;
}
#projects .item .right .buttons .external-link svg{
    width: 25px;
}

/* contact style */
#contact{
    padding: 5rem;
}
#contact .item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#contact .left .external-link svg{
    width: 40px;
    padding: 5px 0;
}
#contact .item .right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#contacts .item .left .icons{
    padding: 5px 0;
}
#contact .item .left h2{
    font-size: 1.5rem;
}
#contact .item .left p{
    font-size: 1em;
}
#name{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 50px;
}
#email{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 50px;
}
#subject{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
#submit{
    margin: 10px;
    padding: 10px 50px;
    color: #fff;
    background-color: var(--secondary-color1);
    border: none;
    box-shadow: 1px 1px 12px rgba(red, green, blue, alpha);
    border-radius: 5px;
}

/* Footer style */
#copyright{
    width: 100%;
    text-align: center;
}